@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'RR';
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background: #040D1F;
}

a,
span,
label,
img {
    display: inline-block;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo {
    display: flex;
    align-items: flex-end;
}

.logo span {
    font-size: 18px;
    line-height: 20px;
    font-family: 'CR';
    color: #FFFFFF;
}

.link {
    padding: 17px 48px;
    background: #F18128;
    border-radius: 4px;
    font-size: 14px;
    line-height: 12px;
    font-family: 'RM';
    text-align: justify;
    color: #000000;
    transition: 0.3s;
}

.link:hover {
    color: #fff;
    background:
        #040D1F;
}

.titles {
    display: inline-block;
    font-family: 'CR';
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    color: #F18128;
    position: relative;
    margin: 60px 0 68px 0;
}

.titles::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    bottom: -10px;
    background: #F18128;
}

.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.banner {
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.banner p {
    font-size: 16px;
    line-height: 18px;
    font-family: 'CR';
    color: #FFFFFF;
    max-width: 166px;
}

.nav {
    background: #000;
    padding: 29px 0;
}

.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav__link {
    font-family: 'MR';
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    position: relative;
}

.nav__link::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -40px;
    width: 100%;
    height: 2px;
    background: #ED8E00;
    border-radius: 23px 10px 0px 0px;
    transform: scale(0);
    transition: 0.3s;
}

.nav__link:hover::after {
    transform: scale(1);
}


.header__content {
    background: rgba(7, 15, 25, 0.75) url(../img/header-bg.png) no-repeat center / cover;
    background-blend-mode: darken;
    flex-grow: 1;

}

.header__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.header__info>h1 {
    font-family: 'MB';
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;

}

.header__info>p {
    font-size: 16px;
    line-height: 24px;
    font-family: 'MR';
    text-align: justify;
    color: #C8C8C8;
    max-width: 570px;
}

.header__links {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

/* Films start */
.films {
    margin-bottom: 77px;
}

.films__card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 367px;
    gap: 30px;
}

.films__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 6px;
    padding: 18.5px 14.5px;
}

.films__item span {
    margin: 12px 0 30px 0;
    font-family: 'MR';
    font-size: 14px;
    line-height: 10px;
    color: #FFFFFF;
    padding: 7px 28px;
    background: rgba(7, 15, 25, 0.2);
    border: 1px solid #FFFFFF;
    border-radius: 9px;
}

.films__item h3 {
    font-family: 'MR';
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 12px;


}

.films__card p {
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

.films__item:nth-of-type(1) {
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%), url('../img/films/film1.png') no-repeat center /cover;
}

.films__item:nth-of-type(2) {
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%), url('../img/films/film2.png') no-repeat center /cover;
}

.films__item:nth-of-type(3) {
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%), url('../img/films/film3.png') no-repeat center /cover;
}

.films__item:nth-of-type(4) {
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%), url('../img/films/film4.png') no-repeat center /cover;
}







/* Films end */














.burger__btn {
    display: none;
    position: relative;
    height: 40px;
    width: 40px;
    background: #F18128;
    border-radius: 4px;
    cursor: pointer;
}

.burger__btn>span {
    width: 70%;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

.burger__btn>span:nth-of-type(1) {
    top: 30%;

}

.burger__btn>span:nth-of-type(3) {
    top: 70%;

}

#clicker:checked~.burger__btn span:nth-of-type(2) {
    opacity: 0;
}

#clicker:checked~.burger__btn span:nth-of-type(1) {
    transform: translate(-50%, -50%) rotate(-45deg);
    top: 50%;
}

#clicker:checked~.burger__btn span:nth-of-type(3) {
    transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;
}

/* video start */
.video {
    position: relative;
    padding: 42px 0 80px 0;
    overflow: hidden;
}

.video::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
    z-index: 4;
}

.video__item {
    position: absolute;
    right: 50%;
    top: 0;
    height: 100%;
    transform: scale(1.35) translateX(70%);
}

.video__content {
    position: relative;
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 51px;
}

.video__content img {
    max-width: 445px;
    width: 100%;
}

.video__content p {
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
    color: #000000;
    max-width: 558px;
    margin-bottom: 4px;
}

/* VIDEO END */



/* collection start */
.collection {
    margin-bottom: 63px;
}

.collection__card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 193px;
    gap: 30px;
}

.collection__item {
    border-radius: 6px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    overflow: hidden;
}
.collection__item:hover::before,.collection__item:hover::after{
    transform: translateY(0%) rotateY(0deg);
}
    

.collection__item h3 {
    font-family: 'CB';
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
}

.collection__item:nth-of-type(1) {
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%), url('../img/collections/col1.png') no-repeat center/ cover;

}
.collection__item:nth-of-type(2) {
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%), url('../img/collections/col2.png') no-repeat center/ cover;

}
.collection__item:nth-of-type(3) {
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%), url('../img/collections/col3.png') no-repeat center/ cover;

}

.collection__item::before {
    position: absolute;
    left: 6px;
    top: 7px;
    content: url('../img/figure.svg');
    transition: 0.3s;
    transform: translateY(-120%) rotateY(360deg);
}

.collection__item::after {
    position: absolute;
    right: 6px;
    top: 7px;
    content: url('../img/figure.svg');
    transition: 0.3s;
    transform: translateY(120%) rotateY(360deg);
}

/* collection end */